html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  margin-bottom: 250px;
  text-align: center;
}

.intro_hed {
  font-size: 4em;
  margin: 2rem auto 0.5rem auto;
}

.intro_dek {
  font-size: 1.5em;
  margin: 2rem auto 0.5rem auto;
}

#outro {
  height: 640px;
}

#scrolly {
  position: relative;
  display: flex;
  background-color: #ffffff;
  padding: 1rem;
}

#scrolly > * {
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
}

nav {
  text-align: center;
}

figure {
  position: sticky;
  margin: 0;
  shape-rendering: optimizeSpeed;
  z-index: 0;
}

.step {
  margin: 0 auto 2rem auto;
  padding: 5px;
  box-shadow: 10px 10px 10px rgba(120, 120, 120, 0.2);
  opacity: 0.1;
  transition: ease, 1s;
}

.step:first-child {
  margin-top: 5em;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  opacity: 1;
  transition: ease, 1s;
}

.step p {
  padding: 1rem;
  font-size: 1.5rem;
}

.step a {
  padding: 0.8rem;
  font-size: 1.5rem;
}

text {
  font-size: 1.5em;
}

#tooltipContainer {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  box-shadow: 10px 10px 10px rgba(120, 120, 120, 0.2);
  border: 2px solid white;
}

.hover-link {
  border-bottom: 1px dotted;
  cursor: pointer;
  background: none;
}

.linksGroup {
  fill: none;
  stroke: lightgray;
  opacity: 0.4;
  mix-blend-mode: multiply;
}

.linksGroup:hover {
  opacity: 1;
  transition: ease, 0.2s;
}

.linkGroup:hover {
  stroke: black;
  opacity: 0.5;
}

.nodeGroup text {
  pointer-events: none;
}

.nodeGroup rect:hover {
  stroke: black;
}
